<h1>Edycja kina</h1>

<%= error_messages_for :kino %>
<% form_for @kino do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p><%= f.submit 'Submit' %></p>
<% end %>
